node_modules/
.env
.env.local
.env.*.local

/backend/uploads

# Next.js
.next/
dist/
.vercel/

# Lock files
pnpm-lock.yaml
package-lock.json

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
